// TEMPLATE FOR ALL //
*{
    scroll-behavior: smooth;
    margin:0;
    padding: 0;

}

.container{
    min-width: 100%;
}
h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
}

#logoImg{
    width: 5rem;
}


#center{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 9rem;
    width: 50%;
    margin: auto;
    
   
}


 // IMAGE-BACKGROUND //
#background{
    background-image: url("../img/Back_logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100vh;
}

//PRESENTATION HACKERS POULETTE// 
#about{
    min-height: 100vh;
    background: #303030;
}
#moche{

    min-height: 70vh;

}

#picture_ugly{
    display: flex;
    min-height: 30vh;
    min-width: 30vh;
    align-items: center;
    justify-content: center;
    
}
